*::-webkit-input-placeholder {
	color: #666666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	color: #000;
	margin: 0;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.d_flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;	
}
.header__left {
		display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
}
.sandwich span {
	display: block;
}
.sandwich {
	width: 20px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 20px;
	height: 3px;
	display: block;
	margin: 0 auto;
	background-color: #1c6dc5;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
position: relative;
	top: 8px;
	width: 20px;
	height: 3px;
	display: block;
	margin: 0 auto;
	background-color: #1c6dc5;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
position: relative;
	top: 13px;
	width: 20px;
	height: 3px;
	display: block;
	background-color: #1c6dc5;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 11px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:5px;
	transform: rotate(-45deg);
}

.logo {
	margin-left: 32px;
	margin-right: 18px;
	display: inline-block;
}
.logo img {
	width: 195px;
	height: auto;
	max-width: 100%;
	display: block;
}
.logo-descr {
	font-size: 14px;
	max-width: 170px;
	color: #424343;
}
.header {
	padding-top: 15px;
	padding-bottom: 20px;
}
.phone-main {
color: #424343;
margin-bottom: 3px;
display: inline-block;
font-family: "RobotoBold";
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.link-main {
	font-size: 14px;
	color: #1c6dc5;
	border-bottom: 1px #1c6dc5 dashed;
	display: inline-block;
	font-family: "RobotoMedium";
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.link-main:hover {
	border-color: transparent;
}
.header__right {
	text-align: right;
}
.header .d_flex {
	align-items: flex-start;
}
.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
box-shadow: 0 5px 10px #1c6dc573;
}
.menu li {
-webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
}
.menu li a {
	height: 50px;
	padding: 0 20px;
	border-right: 1px rgba(255, 255, 255, 0.2) solid;
	text-align: center;
	text-transform: uppercase;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: "RobotoMedium";
	 background: #034c99;
	 color: #fff;
    background: linear-gradient(to bottom, #1c6dc5, #034c99);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}
.menu li a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
		background: #034c99;
		    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu li a:hover::after,
.menu li.active a::after {
	opacity: 1;
}
.billbord {
	margin-top: 25px;
	color: #fff;
	background-image: url(../img/bg_billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.billbord__image img {
	max-width: 100%;
	height: auto;
	display: block;
	width: 100%;
	filter: drop-shadow(0px 0px 15px #ffffff73);
}
.billbord__top-descr {
	font-size: 32px;
	font-family: "RobotoLight";
}
.billbord__title {
	font-size: 40px;
	font-family: "RobotoBold";
}
.billbord__bottom-descr {
	font-size: 24px;
	padding-top: 10px;
	font-family: "RobotoLight";
}
.billbord__bottom-descr span {
	font-family: "RobotoBold";
}
.billbord__left {
	padding-top: 50px;
	padding-left: 35px;
}
.col_pr {
	padding-right: 0;
}
.billbord__title-checkbox {
	padding-top: 30px;
	font-family: "RobotoBold";
}
.radio {
	font-size: 14px;
	margin-top: 15px;
	display: block;
}
.radio label input {
	position: absolute;
	z-index: -1;
	width: 1px !important;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.radio label span {
	position: relative;
	padding: 1px 0 0 23px;
	display: block;
	cursor: pointer;
}
.radio label span:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	border-radius: 50px;
	transition: .2s;
}
.radio label span:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	background-color: #ff0012;
	border: 5px transparent solid;
	border-radius: 50%;
	opacity: 0;
	transition: .2s;
}
.radio label input:checked + span:after {
	opacity: 1;
}
.radio label {
	display: block;
	font-family: "RobotoRegular";
	font-weight: normal;
}
.billbord .radio {
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
}
.btn-main {
	color: #fff;
	padding: 22px 47px;
	text-align: center;
	display: inline-block;
	border: none;
	font-family: "RobotoBold";
	border-radius: 8px;
	box-shadow: 0 0 5px #f47474 inset;
	background: #ff3735;
	background: -webkit-linear-gradient(#ff3735 11%, #cd2927 100%);
	background: -o-linear-gradient(#ff3735 11%, #cd2927 100%);
	background: linear-gradient(#ff3735 11%, #cd2927 100%);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
}
.btn-more::before,
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	border-radius: 8px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	    background: #034c99;
    background: -webkit-linear-gradient(#1c6dc5 11%, #034c99 100%);
    background: -o-linear-gradient(#1c6dc5 11%, #034c99 100%);
    background: linear-gradient(#1c6dc5 11%, #034c99 100%);
    opacity: 0;
		-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-more::before {
	border-radius: 0;
}
.form-block .btn-main:hover::after {
	    box-shadow: 0 9px 20px #034c998c;
}
.item-portfolio .btn-main:hover::after,
.btn-main:hover::after {
    box-shadow: 0 0 10px #034c998c;
}
.btn-more:hover::before,
.btn-main:hover::before {
	opacity: 1;
}
.btn-main::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	border-radius: 8px;
	box-shadow: 0 0 20px #c82323;
		-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.billbord .btn-main {
	margin-top: 25px;
}
.bottom-billbord {
	font-size: 14px;
	line-height: 22px;
	background-color: rgba(255, 255, 255, 0.1);
}
.bottom-billbord__item {
	padding: 20px 15px;
	min-height: 100%;
	border-right: 1px #034c99 solid;
}
.col-lg-3:nth-child(1) .bottom-billbord__item {
	padding-left: 35px;
}
.billbord-partners__title {
	font-size: 14px;
	padding-bottom: 15px;
}
.billbord-partners__list {
	padding-bottom: 10px;
}
.billbord-partners {
	position: absolute;
	top: 45px;
	right: 35px;
	max-width: 166px;
	text-align: center;
}
.item-partner {
	height: 56px;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.item-partner img {
	max-width: 100%;
	height: auto;
	display: block;
	max-height: 100%;
}
.btn-more {
	display: inline-block;
	width: 100%;
	padding: 12px 0;
	text-align: center;
	font-size: 13px;
	color: #fff;
		box-shadow: 0 0 5px #1c6dc5 inset;
	background: #034c99;
	position: relative;
	z-index: 1;
	background: -webkit-linear-gradient(#1c6dc5 11%, #034c99 100%);
	background: -o-linear-gradient(#1c6dc5 11%, #034c99 100%);
	background: linear-gradient(#1c6dc5 11%, #034c99 100%);
}
.btn-more i {
	margin-left: 10px;
}
.title-section {
	font-size: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	font-family: "RobotoLight";
}
.title-section span {
	font-family: "RobotoRegular";
}
.item-advantage_name {
	font-size: 20px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-family: "RobotoBold";
	color: #1c6dc5;
}
.advantages {
	padding-bottom: 40px;
}
.item-advantage_special .item-advantage_name {
	color: #0cf;
}
.item-advantage {
	font-size: 14px;
	padding-top: 32px;
	padding-bottom: 20px;
	padding-left: 95px;
	padding-right: 20px;
	min-height: 100%;
	position: relative;
	background-color: #f6f7f7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-advantage:hover {
    box-shadow: 0 9px 20px #034c998c;
}
.item-advantage p {
	line-height: 22px;
}
.row_advantages > .col-lg-4,
.row_advantages .row > div {
	margin-bottom: 25px;
}
.item-advantage_special {
	color: #fff;
	padding-left: 45px;
	background-image: url(../img/bg_special_avd.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.item-advantage__icon {
	width: 100px;
	height: 100%;
	padding-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}
.item-advantage__icon img {
	max-width: 43px;
	height: auto;
	display: block;
}
.type-productions {
	padding-bottom: 43px;
	background-color: #f6f7f7;
}
.item-type__image {
	overflow: hidden;
	height: 322px;
}
.item-type__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-type:hover .item-type__image img {
	transform: scale(1.04);
}
.item-type__name {
	font-size: 24px;
	padding: 25px 0;
	color: #034c99;
	text-transform: uppercase;
}
.btn-main_page {
	    box-shadow: 0 0 5px #1c6dc5 inset;
	    background: #034c99;
    background: -webkit-linear-gradient(#1c6dc5 11%, #034c99 100%);
    background: -o-linear-gradient(#1c6dc5 11%, #034c99 100%);
    background: linear-gradient(#1c6dc5 11%, #034c99 100%);
}
.btn-more::before,
.btn-main_page::before {
	box-shadow: 0 0 5px #f47474 inset;
    background: #ff3735;
    background: -webkit-linear-gradient(#ff3735 11%, #cd2927 100%);
    background: -o-linear-gradient(#ff3735 11%, #cd2927 100%);
    background: linear-gradient(#ff3735 11%, #cd2927 100%);
}
.btn-main_page::after {
   box-shadow: 0 0 10px #034c998c;
}
.btn-main_page:hover::after {
	box-shadow: 0 0 20px #c82323;
}
.item-type {
	padding: 10px;
	padding-bottom: 30px;
	text-align: center;
	margin: 10px 0;
	box-shadow: 0 0 10px #d7e1ec;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-type .slick-list {
	padding: 0 15px;
	margin: 0 -15px;
}
.slick-active .item-type {
	opacity: 1;
}
.item-type li:before {
	content: "•";
	color: #1968ab;
	margin-right: 5px;
}
.item-type ul li {
	margin-bottom: 7px;
}
.item-type ul {
	display: inline-block;
	text-align: left;
}
.item-type__price {
	padding-top: 15px;
	padding-bottom: 10px;
	color: #0f86ea;
	font-family: "RobotoBold";
}
.item-type__price span {
	font-size: 24px;
}
.item-type__descr {
	padding-bottom: 25px;
	font-size: 14px;
}
.slick-arrow {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0cf !important;
	font-size: 20px;
	background-color: #fff;
	top: 26%;
	    box-shadow: 0 0 10px #00445647;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 20px;
}
.slick-next {
	right: 20px;
}
.calculate-block {
	padding: 60px 0;
	color: #fff;
	position: relative;
	background-image: url(../img/bg_calculate.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.calculate-block::before {
	position: absolute;
	display: block;
	content: " ";
	width: 540px;
	height: 330px;
	bottom: -56px;
	left: -395px;
	background-image: url(../img/before_calculate.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.calculate__title {
	font-size: 40px;
	padding-bottom: 15px;
	font-family: "RobotoBold";
	text-transform: uppercase;
}
.calculate__descr {
	font-size: 30px;
	font-family: "RobotoLight";
}
.calculate__descr span {
	font-family: "RobotoMedium";
}
.calculate-item {
	font-size: 14px;
	margin: 0 auto;
	line-height: 22px;
	margin-top: 38px;
	max-width: 150px;
	text-align: center;
	font-family: "RobotoMedium";
}
.calculate-item__image {
	width: 148px;
	height: 148px;
	margin: 0 auto;
	margin-bottom: 22px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1c6dc5;
	border-radius: 50%;
}
.calculate-item__image img {
	max-width: 42px;
	height: auto;
}
.form-block__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 20px;
	font-family: "RobotoBold";
}
.form-block__descr {
	line-height: 23px;
	padding-bottom: 25px;
	text-align: center;
}
.form-block {
	padding: 30px 47px;
	background-color: #fff;
	box-shadow: 0 0 20px #fff;
	color: #000;
}
.align_center {
	text-align: center;
}
.align_center .checkbox {
	display: inline-block;
	text-align: left;
}
textarea,
input {
	font-size: 13px;
	color: #000;
	height: 50px;
	padding: 0 20px;
	margin-bottom: 20px;
	border: 1px #ccc solid;
	border-radius: 5px;
		font-family: "RobotoRegular";
	width: 100%;
}
textarea {
	resize: none;
	padding-top: 10px;
	height: 107px;
}
.form-block .btn-main {
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.col_pr {
	padding-right: 0;
}
.form-block .btn-main::after {
	box-shadow: 0 9px 20px #c8232363;
}
.checkbox {
	font-size: 11px;
	color: #3b4349;
	display: block;
		margin-top: 25px;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	width: 1px !important;
	opacity: 0 !important;
	margin: 1px 0 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 3px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #989a9b;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 15px;
	height: 15px;
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.title-section_center {
	text-align: center;
}
.portfolio {
	padding-bottom: 75px;
	background-color: #f6f7f7;
}
.tabs {
	text-align: center;
}
.tabs li {
	display: inline-block;
	vertical-align: middle;
}
.tabs li a {
	text-transform: uppercase;
	display: inline-block;
	font-size: 18px;
	padding: 16px 0;
	color: #fff;
	width: 330px;
	text-align: center;
	position: relative;
	z-index: 1;
		box-shadow: 0 0 5px #1c6dc5 inset;
	background: #034c99;
	background: -webkit-linear-gradient(#1c6dc5 11%, #034c99 100%);
	background: -o-linear-gradient(#1c6dc5 11%, #034c99 100%);
	background: linear-gradient(#1c6dc5 11%, #034c99 100%);
}
.tabs li a::after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: #034c99;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.tabs li.active a::after,
.tabs li a:hover::after {
	opacity: 1;
}
.item-portfolio__image {
	height: 178px;
	overflow: hidden;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-portfolio:hover .item-portfolio__image img {
	transform: scale(1.1);
}
.item-portfolio__name {
	padding-bottom: 25px;
	font-family: "RobotoMedium";
}
.item-portfolio p {
	font-size: 14px;
	line-height: 21px;
}
.item-portfolio__content {
	padding: 20px;
	padding-bottom: 35px;
}
.item-portfolio .btn-main {
	margin-top: 25px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "RobotoMedium";
}
.item-portfolio .btn-main::after {
    box-shadow: 0 5px 20px #c823239c;
}
.item-portfolio {
	margin-top: 30px;
	background-color: #fff;
	box-shadow: 0 0 14px #d7e1ec;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-portfolio:hover {
box-shadow: 0 15px 20px #034c998c;
}
.tab-content {
	display: none;
}
.tab-content:first-child {
	display: block;
}
.use {
	padding-top: 30px;
	padding-bottom: 65px;
}
.item-use {
	padding: 35px;
	min-height: 100%;
	position: relative;
	z-index: 1;
	color: #fff;
	background-color: #1968ab;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-use:hover {
	    box-shadow: 0 15px 20px #034c998c;
}
.item-use__title {
	font-size: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #fff;
	font-family: "RobotoBold";
}
.item-use li {
	font-size: 14px;
	margin-bottom: 12px;
}
.item-use li:before {
	content: "•";
	margin-right: 5px;
}
.item-use__image {
	display: inline-block;
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: 5px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-use:hover .item-use__image {
	transform: scale(0.9);
}
.item-use__image img {
	width: 93px;
	height: auto;
}
.row_use > div {
	margin-bottom: 30px;
}
.item-reviews p {
	font-size: 14px;
}
.item-reviews__name {
	font-size: 20px;
	margin-bottom: 3px;
	font-family: "RobotoMedium";
}
.item-reviews__descr {
	margin-bottom: 20px;
	font-family: "RobotoMedium";
}
.slider-reviews .item-reviews {
	opacity: 0.46;
}
.slider-reviews .slick-active .item-reviews {
	opacity: 1;
}
.item-reviews {
	width: 668px;
	padding: 55px 68px;
	margin-left: 15px;
	margin-right: 80px;
	margin-bottom:55px;
	margin-top: 55px;
	max-width: 100%;
	box-shadow: 0 5px 15px #d7e1ec94;
	background-color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-reviews:hover {
	    box-shadow: 0 9px 20px #034c998c;
}
.reviews {
	padding-top: 30px;
	padding-bottom: 110px;
	background-color: #f6f7f7;
}
.block-slider {
	margin-top: 10px;
	padding-left: 180px;
    margin-left: calc((100% - 1150px)/2);
    position: relative;
}
.slider-reviews .slick-arrow {
	top: 50%;
}
.slider-reviews .slick-prev {
	left: 0px;
}
.slider-reviews .slick-next {
	right: auto;
	left: 664px;
}
.block-slider__bg {
	width: 555px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1968ab;
}
.block-slider__bg span {
    color: #0f86ea;
    font-size: 100px;
    transform: rotate(-90deg);
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "RobotoBold";
    display: block;
    position: absolute;
    left: -120px;
    top: 164px;
}
.steps .title-section {
	font-size: 34px;
	padding: 0;
	padding-top: 15px;
}
.steps .title-section span {
	color: #1968ab;
}
.steps {
	padding: 60px 0;
}
.item-step {
		width: 322px;
	max-width: 100%;
	padding: 0px 80px;
	padding-right: 30px;
	min-height: 100%;
	height: 188px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 10px #d7e1ec;
	position: relative;
	z-index: 1;
}
.item-step__number {
	font-size: 120px;
	opacity: 0.1;
	position: absolute;
	left: 43px;
	top: 20px;
	color: #0f86ea;
	z-index: -1;
	 font-family: "RobotoBold";
}
.item-step p {
	font-size: 14px;
	line-height: 22px;
}
.item-step p a {
	color: #000;
	font-family: "RobotoMedium";
}
.row_steps > div {
	padding: 20px 0;
}
.item-step_simple {
	box-shadow: none;
}
.slider-partners__item {
	width: 223px;
	height: 115px;
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin: 15px auto;
	justify-content: center;
	background-color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-partners__item:hover {
box-shadow: 0 0 10px #d7e1ec;
}
.slider-partners__item img {
	max-width: 100%;
	max-height: 100%;
}
.partners {
	padding-top: 60px;
	padding-bottom: 120px;
	background-color: #f6f7f7;
}
.slider-partners .slick-arrow {
	top: 50%;
}
.slider-partners {
	padding: 0px 40px;
}
.question__name {
	font-size: 18px;
	height: 70px;
	padding-left: 35px;
	padding-right: 95px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: #1968ab;
	position: relative;
color: #fff;
font-family: "RobotoMedium";
}
.question__answer {
	font-size: 14px;
	line-height: 22px;
	padding: 30px 35px;
	display: none;
}
.question {
	margin-bottom: 8px;
}
.question__arrow {
	font-size: 24px;
	background-color: #0f86ea;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	color: #0cf;
		display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px #00445647;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.active .question__name .question__arrow {
	transform: rotate(-180deg);
}
.form-block_question {
	padding: 30px;
    margin-top: 142px;
	    box-shadow: 0 0 10px #d7e1ec;
}
.col_pl {
	padding-left: 0;
}
.answers {
	padding-bottom: 20px;
}
.item-instagram {
	height: 263px;
	display: block;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-instagram img {
	width: 100%;
	height: 100%;
		object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-instagram:hover img {
	transform: scale(1.04);
}
.item-instagram:hover {
	box-shadow: rgba(3, 76, 153, 0.55) 0px 15px 20px;
}
.instagram {
	padding-bottom: 75px;
}
.footer-list li {
	margin-bottom: 13px;
	display: block;
}
.footer-list li a {
	color: #fff;
	border-bottom: 1px transparent solid;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "RobotoMedium";
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-list li a:hover  {
	border-color: #fff;
}
.footer {
	padding-top: 38px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	background-color: #1968ab;
}
.footer__link,
.footer .phone-main,
.footer__mail {
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.create img {
    max-width: 60px;
    margin-left: 10px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.btn_top {
    font-size: 24px;
    position: relative;
    color: #1968ab !important;
    width: 42px;
    height: 42px;
    text-align: center;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    z-index: 300;
}
.align_right {
	text-align: right;
}
.footer__bottom {
	padding: 20px 0;
	margin-top: 35px;
	border-top: 1px rgba(238, 243, 246, 0.1) solid;
}
.footer .logo {
	margin: 0;
}
.footer .logo-descr {
	color: #fff;
	margin-top: 15px;
}
.billbord__image .slick-list {
	overflow: visible;
}
.billbord__image img {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.billbord__image .slick-active img {
	opacity: 1;
}
.modal-block {
	display: none;
}
.item-type .btn-main_page {
	text-transform: uppercase;
}
.form-block_modal {
	width: 400px;
	max-width: 100%;
	margin: 0 auto;
	box-shadow: none;
}
.fancybox-skin {
	padding: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important; 
}
.fancybox-inner {
    overflow: visible!important;
}
.calculate-item__image {
-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.calculate-item__image:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.6);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.calculate-item__image:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.calculate-item:hover .calculate-item__image {
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}
.calculate-item:hover .calculate-item__image:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.4), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.7);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.4), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.7);
		transform: scale(1.5);
		opacity: 0;
	}
}
.header .d_flex {
	position: relative;
}
.menu-block {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #fff;
	z-index: 100;
	width: 500px;
	display: none;
	max-width: 100%;
	padding: 30px 30px;
	  box-shadow: 0 5px 10px #1c6dc573;
}
.nav-list li {
	display: block;
}
.nav-list li a {
	font-size: 18px;
	padding: 10px 0;
	border-bottom: 1px #1c6dc5 solid;
	text-transform: uppercase;
    font-family: "RobotoBold";
    color: #1c6dc5;
    	display: block;
}
.nav-list li:last-child a {
	border: none;
}


.video-block__play {
	width: 104px;
	height: 104px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	    box-shadow: 0 0 5px #f47474 inset;
	    border-radius: 50%;
    background: #ff3735;
    color: #fff;
    font-size: 24px;
    background: -webkit-linear-gradient(#ff3735 11%, #cd2927 100%);
    background: -o-linear-gradient(#ff3735 11%, #cd2927 100%);
    background: linear-gradient(#ff3735 11%, #cd2927 100%);
}
.video-block__play::after {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 0 0 20px #c82323;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.video-block {
	position: relative;
	height: 420px;
	min-height: 100%;
	display: block;
	    background-color: #1c6dc5;
}
.video-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.video-block__text {
	position: absolute;
	line-height: 24px;
	padding-left: 75px;
	padding-right: 35px;
	top: 0;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	left: 50%;
	right: 0;
	width: 50%;
	color: #fff;
}
.block-letter {
	width: 360px;
	max-width: 100%;
	margin: 0 auto;
	min-height: 100%;
	color: #fff;
	text-align: center;
	background-color: #1c6dc5;
}
.slider-letter__name {
	font-size: 30px;
	font-family: "RobotoBold";
	text-transform: uppercase;
}
.slider-letter__image {
	height: 270px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-letter__image img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
}
.slider-letter__item p {
	line-height: 22px;
}
.slider-letter__item p span {
font-family: "RobotoMedium";
}
.slider-letter__item {
	padding: 20px 25px;
	padding-bottom: 25px;
	min-height: 420px;
}
.slider-letter .slick-arrow {
	top: 50%;
}
.slider-letter .slick-prev {
	left: -15px;
}
.slider-letter .slick-next {
	right: -15px;
}
.modal-block iframe {
	max-width: 100%;
}

/*new 4*/
.light-block {
	padding: 30px;
	margin-bottom: 50px;
	box-shadow: 0 10px 15px #d7e1ec;
	background-color: #fff;
}
.light-block__image img {
	max-width: 100%;
	height: auto;
	display: block;
}
.light-box {
	padding-bottom: 150px;
	background-color: #f6f7f7;
}
.light-block__title {
	font-size: 24px;
	padding-bottom: 17px;
	color: #1c6dc5;
	text-transform: uppercase;
}
.light-block__title span {
	font-family: "RobotoBold";
}
.light-block p {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 15px;
}
.name-list {
	padding-bottom: 10px;
	font-family: "RobotoMedium";
}
.list-main li {
    margin-bottom: 7px;
}
.list-main li:before {
    content: "•";
    color: #1968ab;
    margin-right: 5px;
}
.link-simple {
	color: #1b6bc3;
	display: inline-block;
	border-bottom: 1px #1b6bc3 solid;
	font-family: "RobotoMedium";
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.link-simple:hover {
	border-color: transparent;
}
.light-block .link-simple {
	margin-top: 30px;
}
.light-block .btn-main {
	margin-top: 30px;
}
.light-block .btn-main::after {
    box-shadow: 0 9px 20px #c82323a3;
}
.light-block .btn-main:hover::after {
    box-shadow: 0 9px 20px #034c998c;
}
.tabs_light {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #fff;
}
.tabs_light li a {
	border-right: 1px #1968ab solid;
	font-size: 20px;
	text-transform: none;
	width: 100%;
	color: #1968ab;
	font-family: "RobotoMedium";
	box-shadow: none;
	background: transparent;
}
.tabs_light li a::after {
	background: transparent;
}
.tabs_light li:last-child a {
	border: none;
}
.tabs_light li.active a {
	background-color: #1968ab;
	color: #fff;
}
.tabs_light li {
	flex: 1;
}
.tab-content p {
		font-size: 14px;
	line-height: 21px;
	margin-bottom: 15px;
}
.tabs-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tabs-buttons a {
    padding: 13px 0;
    flex: 1;
    margin: 0 3px;
    text-transform: uppercase;
    font-size: 14px;
}
.tabs-buttons .btn-main_page:hover::after {
    box-shadow: 0 0 10px #c823239e;
}
.tabs-buttons a:not(.btn-main_page)::after {
	box-shadow: none;
}
.tab-container_light {
	padding: 30px 40px;
	border: 1px #1968ab solid;
	background-color: #fff;
}
.table-wrap thead {
	color: #fff;
	font-family: "RobotoBold";
}
.table-wrap thead td {
	border-right: 1px #fff solid;
	background-color: #1968ab;
}
.table-wrap thead td:last-child {
border-right: none;
}
.table-wrap table {
		font-size: 14px;
	width: 100%;
	border-spacing: 0;
	text-align: center;
}
.table-wrap td {
	padding: 14px 0;
}
.table-wrap tbody tr:nth-child(odd) td {
	background-color: #deeafb;
}

.table-wrap tbody td {
	font-family: "RobotoMedium";
	border-right: 1px #02577b solid;
}
.table-wrap tbody td:last-child {
	border-right: none;
}
.table-wrap tbody td span {
	font-family: "MyriadProRegular", sans-serif;
}