/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.menu li a {
	font-size: 12px;
}
.billbord__top-descr {
    font-size: 24px;
}
.billbord__title {
    font-size: 33px;
    font-family: "RobotoBold";
}
.billbord__bottom-descr {
    font-size: 19px;
}
.billbord__left {
    padding-top: 5px;
    padding-left: 13px;
}
.billbord-partners {
	top: 5px;
}
.item-partner {
	margin-bottom: 5px;
}
.bottom-billbord {
    font-size: 12px;
    line-height: 20px;
    }
    .item-advantage {
    	padding-left: 65px;
    }
    .item-advantage__icon {
    	width: 65px;
    }
    .item-advantage_special {
    	padding-left: 45px;
    }
    .item-type ul li {
    	font-size: 14px;
    }
    .calculate__title {
    font-size: 32px;
}
.form-block__title {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 15px;
}
.form-block {
    padding: 30px 25px;
    }
    .calculate-item__image {
    	width: 123px;
    	height: 123px;
    }
    .calculate__descr {
    font-size: 26px;
}
.item-portfolio .btn-main {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.block-slider__bg span {
	left: -88px;
}
.item-instagram {
	height: 200px;
}

.video-block__text {
    line-height: 20px;
    font-size: 13px;
    padding-left: 60px;
    padding-right: 16px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu {
		flex-wrap: wrap;
	}
	.menu li {
		-webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 33.33333%;
}
.billbord__left {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.col_pr {
	padding-right: 15px;
}
.billbord__image {
	height: 240px;
	bottom: 0;
	width: 100%;
	right: 15px;
	position: absolute;
}
.billbord__image-item {
    height: 240px;
}
.billbord__image img {
		width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	object-position: right;
}
.billbord-partners {
	position: static;
}
.row_billbord {
	padding-bottom: 260px;
	position: relative;
}
.col_tablet-static {
	position: static;
}
.billbord {
	overflow: hidden;
}
.billbord-partners {
	padding-top: 15px;
}
.col-lg-3:nth-child(1) .bottom-billbord__item {
	padding-left: 15px;
}
.bottom-billbord {
    font-size: 14px;
    line-height: 22px;
}
.item-advantage_name {
    font-size: 16px;
    padding-bottom: 10px;
}
.item-advantage p {
    line-height: 18px;
    font-size: 12px;
}
.item-advantage_special {
    padding-left: 25px;
}
.item-advantage__icon,
.item-advantage {
	padding-top: 15px;
}
.title-section {
    font-size: 27px;
    padding-top: 30px;
    padding-bottom: 30px;
    }
    .calculate-block {
    	padding: 40px 15px;
    }
    .calculate__title {
    font-size: 27px;
}
.calculate__descr {
    font-size: 22px;
}
.calculate-item__image {
	width: 148px;
	height: 148px;
}
.calculate .form-block {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 30px;
}
.item-reviews {
	margin-right: 30px;
}
.block-slider {
    margin-left: calc((100% - 1100px)/2);
}
.reviews {
	padding-bottom: 60px;
}
.steps {
	padding-top: 30px;
	padding-bottom: 30px;
}
.partners {
	padding-bottom: 70px;
}
.form-block_question {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 40px;
}
.item-instagram {
	height: 330px;
	margin-bottom: 20px;
}
.instagram {
    padding-bottom: 50px;
}
.footer-list li a {
	font-size: 12px;
}
.footer-list li {
    margin-bottom: 9px;
}
.footer {
    font-size: 12px;
    line-height: 18px;
}

.block-letter {
    margin-top: 40px;
}
.video-block__text {
    font-size: 16px;
    line-height: 24px;
    padding-left: 75px;
    padding-right: 35px;
    }

    .tab-container_light .table-wrap {
        margin-top: 40px;
    }
    .tab-container_light {
        padding: 30px 20px;
    }
    .light-block__image {
        margin-top: 30px;
    }
    .light-block__image img {
        margin: 0 auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.header__left {
	max-width: 55%;
}
.container {
	max-width: 100%;
}
.logo-descr {
display: none;
}
.header {
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 800;
	background-color: #fff;
	box-shadow: 0 0 10px #bbb;
}
.wrapper {
	padding-top: 76px;
}
.billbord-partners {
	display: none;
}
.bottom-billbord__item {
    padding: 10px 15px;
    }
    .logo img {
    width: 160px;
}
.billbord__title {
	font-size: 29px;
	margin-top: 15px;
}
.billbord__top-descr {
    font-size: 20px;
}
.billbord__image-item,
.billbord__image {
    height: 180px;
   }
   .row_billbord {
    padding-bottom: 215px;
}
.item-advantage {
	min-height: 200px;
}
.item-advantage_special {
	min-height: 280px;
}
.item-advantage p {
    line-height: 23px;
    font-size: 14px;
}
.item-advantage_name {
    font-size: 18px;
    padding-bottom: 15px;
}
.tabs li a {
	width: 100%;
}
.tabs li {
	width: 49%;
}
.tabs li a {
	font-size: 14px;
    height: 68px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0px;
}
.portfolio {
	padding-bottom: 50px;
}
.use {
    padding-top: 0px;
    padding-bottom: 30px;
}
.item-reviews {
	width: 400px;
	max-width: 100%;
	padding: 30px 25px;
	margin-right: 30px;
}
.slider-reviews .slick-next {
    right: 6px;
    left: auto;
}
.block-slider__bg {
	display: none;
}
.block-slider {
    margin-left: 0;
    padding: 0;
}
.reviews {
    padding-bottom: 10px;
}
.row_steps > div {
	padding: 0 15px;
}
.steps .title-section {
	font-size: 27px;
	margin-bottom: 30px;
}
.slick-prev {
    left: 0;
}
.slick-next {
	right: 0;
}
.slider-partners__item {
	max-width: 100%;
}
.slider-partners .slick-slide {
	padding: 0 5px;
}
.title-section {
	text-align: center;
}
.question__name {
    font-size: 15px;
    height: 70px;
    padding-left: 15px;
    padding-right: 80px;
    }
    .question__answer {
    	padding: 20px 15px;
    }
    .item-instagram {
    	height: 212px;
    	width: 212px;
    	margin: 0 auto;
    	margin-bottom: 30px;
    }
 .instagram {
 	padding-bottom: 20px;
 }   
 .footer {
 	text-align: center;
 }
 .footer-list li a {
    font-size: 14px;
}
.footer-list li {
    margin-bottom: 13px;
}
.footer .logo {
	margin-bottom: 15px;
}
.footer__bottom .row > div {
	padding: 5px 0;
}
.footer__bottom .align_right {
	text-align: center;
}
.col_pl {
	padding-left: 15px;
}
.item-step,
.item-step_simple {
        box-shadow: 0 0 10px #d7e1ec;
        margin-top: 30px;
        min-height: auto;
}

.video-block__text {
    padding: 0 30px;
    text-align: center;
    left: 0;
    width: 100%;
    padding-top: 150px;
}
.block-letter,
.video-block  {
    min-height: auto;
}


.table-wrap {
    overflow: auto;
}
.table-wrap {
    white-space: nowrap;
}
.table-wrap td {
    padding-left: 5px;
    padding-right: 5px;
}
    .table-wrap::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .table-wrap::-webkit-scrollbar:vertical {
        width: 6px;
    }
    .table-wrap::-webkit-scrollbar:horizontal {
        height: 6px;
    }
    .table-wrap::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
    }
    .table-wrap::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .1);
    }
    .light-block .btn-main {
        padding-left: 30px;
        padding-right: 30px;
    }
    .light-box {
        padding-bottom: 100px;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.header__right {
    text-align: right;
    font-size: 13px;
}
.header__right .link-main {
    font-size: 12px;
    }
    .logo {
    margin-left: 10px;
    margin-right: 0;
    margin-top: 2px;
    display: inline-block;
}
.logo img {
    width: 112px;
}
.menu li {
	width: 50%;
}
.billbord__title {
    font-size: 21px;
    margin-top: 15px;
}
.billbord__top-descr {
    font-size: 16px;
}
.billbord__bottom-descr {
    font-size: 16px;
}
.billbord .btn-main {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	font-size: 14px;
}
.title-section {
    font-size: 23px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.advantages {
	padding-bottom: 20px;
}
.item-type__image {
	height: 250px;
}
.slider-type .slick-prev {
    left: -13px;
}
.slider-type .slick-next {
    right: -13px;
}
.item-type__name {
    font-size: 20px;
    padding: 15px 0;
    }
    .btn-main {
    	font-size: 14px;
    }
   .item-type .btn-main {
   	width: 100%;
   	padding-left: 0;
   	padding-right: 0;
    }
    .calculate__title {
    font-size: 21px;
}
.calculate__descr {
    font-size: 17px;
}
.calculate-item {
	margin-top: 20px;
}
.calculate-item__image {
	margin-bottom: 15px;
}
.calculate .form-block {
	padding: 15px 15px;
    box-shadow: 0 0 7px #fff;
    }
    .form-block .btn-main {
    	height: 60px;
    	padding: 0;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	text-align: center;
    }
    .calculate-block::before {
    	display: none;
    }
    .block-slider {
    	padding: 0 15px;
    }
    .item-reviews {
    	margin: 20px 0;
    	padding-left: 15px;
    	padding-right: 15px;
    	margin-right: 15px;
    	width: 100%;
    }
    .reviews .title-section {
    	padding-bottom: 0;
    }
     .slider-reviews {
     	padding-bottom: 50px;
     }
    .slider-reviews .slick-arrow {
    	top: auto;
    	left: 0;
    	right: -60px;
    	margin: 0 auto;
    	bottom: 0;
    }
     .slider-reviews .slick-prev {
     	right: 0;
     	left: -60px;
     }
     .steps .title-section {
     	font-size: 23px;
     }
     .partners {
     	padding-top: 10px;
     }
     .question__name {
     	height: auto;
     	display: block;
     	padding-top: 10px;
     	padding-bottom: 10px;
     }
     .row_insta {
     	margin: 0 -5px;
     }
     .row_insta > div {
     	padding: 0 5px;
     }
     .item-instagram {
     	width: 100%;
     	height: 150px;
     	margin-bottom: 10px;
     }
     .billbord__image-item,
.billbord__image {
    height: 170px;
   }
   .form-block {
    padding: 30px 15px;
   }
   .menu-block {
padding: 25px 15px;
    margin: 0 -15px;
    width: auto;
    max-width: initial;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px #1c6dc573;
   }
   .nav-list li a {
    font-size: 14px;
    padding: 10px 0;
}
.menu-block {
    padding: 25px 15px;
}

.video-block {
    height: 350px;
}
.video-block__play {
    width: 50px;
    height: 50px;
    font-size: 16px;
}

.light-block {
    padding: 20px 15px;
}
.light-block .link-simple {
    margin-top: 15px;
}
.tabs_light li a {
    height: 54px;
}
.tab-container_light {
    padding: 20px 15px;
}
.tabs-buttons {
    display: block;
}
.tabs-buttons a {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}
.tab-container_light .table-wrap {
    margin-top: 20px;
}
.light-box {
    padding-bottom: 50px;
}
.light-block .btn-main {
    height: 60px;
    font-size: 14px;
    padding: 0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.light-block__title {
    font-size: 19px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
max-width: 1170px;
}
}